{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/news.css')}}">
{% endblock %}

{% block head_title %}스포츠&#183연예{% endblock %}

{% block active_dropdown %}class="active"{% endblock %}

{% block body_title %}스포츠&#183연예{% endblock %}

{% block contents %}
    <div class="center">
        <a href="{{url_for('스포츠_연예', title=news_titles[0])}}" id="preview">
            <div>
                <img src={{images["축구공사진"]}} alt="">
                <h3>서중 축구대회<br>승자는 누구?</h3>
            </div>
        </a>
        <a href="{{url_for('스포츠_연예', title=news_titles[1])}}" id="preview">
            <div>
                <img src={{images["기대는현민"]}} alt="">
                <h3>조현민 같은<br>얼굴도 여친이 없다??</h3>
            </div>
        </a>
    </div>
{% endblock %}