{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/news.css')}}">
{% endblock %}

{% block head_title %}{{title}}{%endblock%}

{% block active_dropdown %}class="active"{% endblock %}

{% block body_title %}{{title}}{% endblock %}

{% block contents %}
    <p id="date-writer">작성일 : 2022.12.21&nbsp;&nbsp;작성자 : 고주원 기자</p>
    <p>
        조현민의 커리어에 대해 소개를 해보겠습니다.
        먼저, 조현민이 받은 상들은 독서상, 봉사상, 모범상, 수학상 등 엄청 많은 상을 받았습니다.<br><br>
        또, 조현민은 1학년 1,2학기 반장, 2학년 부회장, 이제 3학년 회장만이 남아있습니다.(짝짝짝)<br><br>
        그리고, 조현민은 축제에 나가서 노래실력을 증명했습니다. (링크 : <a target="_blank" href="https://www.youtube.com/watch?v=AyvzUg1og-4&t=206s&ab_channel=rhghdals">https://www.youtube.com/watch?v=AyvzUg1og-4&t=206s&ab_channel=rhghdals</a>)
    </p>
{% endblock %}